#servicos{
    margin: 2em;
    
    
}

#titulo{
    text-align: center;
    margin-bottom: 1em;
    color: rgb(20, 20, 116);
    font-weight: bold;
    
}

#lista{
    border: 5px solid rgb(20, 20, 116);
    border-radius: 5px;
}

strong{
    color: rgb(20, 20, 116);
}

#under{
    background-color: aqua;
    margin-top: 10px;
    text-align: center;
    border: 5px solid rgb(20, 20, 116);
    border-radius: 5px;
}

#texto{
    font-weight: bold;
    color: rgb(20, 20, 116);
}

#imagens{
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    width: 40%;
    margin: 5px;
    border: 3px solid blue;
    border-radius: 3px;
}

@media (max-width:768px){
    #titulo, #texto{
        font-size: 1em;
    }
}


