<div id="servicos">
    <h1 id="titulo">Serviços disponíveis</h1>

    <ul class="list-group">
        <a href="#" class="list-group-item list-group-item-action list-group-item-info">
            <strong>Vacinação</strong>
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-info">
            <strong>Consulta</strong>
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-info">
            <strong>Castração</strong>
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-info">
            <strong>Banho e Tosa</strong>
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-info">
            <strong>Exame de sangue</strong>
        </a>
      </ul>
</div>


