<div id="servicos">
    <h1 id="titulo">Serviços disponíveis</h1>

    <div id="lista">
        <ul class="list-group">
            <a href="#" class="list-group-item list-group-item-action list-group-item-info">
                <strong>Vacinação</strong>
            </a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-info">
                <strong>Consulta</strong>
            </a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-info">
                <strong>Castração</strong>
            </a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-info">
                <strong>Banho e Tosa</strong>
            </a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-info">
                <strong>Exame de sangue</strong>
            </a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-info">
                <strong>Adestramento</strong>
            </a>
          </ul>
    </div>

    <div id="under">
        <h3 id="texto">Conheça os pets que passaram por nossos serviços</h3>

        <div id="imagens">
            <img src="assets/img/imagem1.jpg" alt="">
            <img src="assets/img/imagem2.jpg" alt="">
            <img src="assets/img/imagem3.jpg" alt="">
            <img src="assets/img/imagem4.jpg" alt="">
        </div>
        
    </div>

</div>


