button {
    background-color: black;
    color: aqua;
    border: none;
    font-size: larger;
    font-weight: bolder;
}

button:hover{
    color: rgb(46, 170, 170);
}

header{
    box-shadow: 3px 3px 5px;
    margin-bottom: 10px;
}

img{
    width: 40px;
    height: 40px;
    margin-left: 65em;
}

