<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img id="img1" src="assets/img/imagemPet.jpeg" class="d-block w-100" alt="Imagem de um gato em um fundo azul">
      </div>
      <div class="carousel-item">
        <img id="img2" src="assets/img/imagemPet2.jpeg" class="d-block w-100" alt="Imagem de um cão ao ar livre">
      </div>
      <div class="carousel-item">
        <img id="img3" src="assets/img/imagemPet3.jpeg" class="d-block w-100" alt="Imagem de um cão e seu dono na praia">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section>
      <h2 id="texto">Confira nossos produtos</h2> 

        <div id="produtos">
          <div class="card" style="width: 18rem;">
            <img src="assets/img/produto1.jpg" class="card-img-top" alt="imagem de um xampu">
            <div class="card-body">
              <h5 class="card-title">Shampoo Anticarrapato</h5>
              <p class="card-text"></p>
              <p class="preco">R$ 59,90</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="assets/img/produto2.png" class="card-img-top" alt="imagem de um osso de borracha colorido">
            <div class="card-body">
              <h5 class="card-title">Osso de Borracha</h5>
              <p class="card-text"></p>
              <p class="preco">R$ 39,90</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="assets/img/produto3.png" class="card-img-top" alt="Imagem de uma bolinha de borracha azul">
            <div class="card-body">
              <h5 class="card-title">Bolinha de Borracha</h5>
              <p class="card-text"></p>
              <p class="preco">R$ 25,99</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="assets/img/produto4.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Pote de Ração</h5>
              <p class="card-text"></p>
              <p class="preco">R$ 69,99</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="assets/img/produto5.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Petisco pra Cães</h5>
              <p class="card-text"></p>
              <p class="preco">R$ 46,89</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
  </section>